.nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 80%;
  color: white;
  background-color: black;

  /* padding: 20px; */
}

.nav_logo {
  display: flex;
  width: 11.48%;
  object-fit: contain;
}

.nav_avatar {
  width: 2.81%;
  object-fit: contain;
}

.autoComplete {
  background-color: #ffffff;
  /* height: 40px; */
  border-radius: 6px;
  padding: 0px;
  width: 300px;
  margin: 2px;
}
