.nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 80%;
  color: white;
  /* padding: 20px; */
}

.nav_logo {
  display: flex;
  width: 11.48%;
  object-fit: contain;
}

.nav_avatar {
  width: 2.81%;
  object-fit: contain;
}
