.nav {
  position: fixed;
  top: -1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 20px; */
}

.nav_logo {
  width: 12.5%;
  object-fit: contain;
}

.nav_avatar {
  width: 5.81%;
  object-fit: contain;
}
